  a {color: green;
  text-decoration: none;
  }
  a:hover{
    border-bottom: 2px solid black;
    padding-bottom:2px;
  }
  p{max-width:75%;}
  .main-image{
    border-left: solid orange 5px;
  }
  .dotted{
    border:dotted green 5px;
    border-radius:70%;
  }
  * {
    border: dashed grey 1px;
  }
